# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# Local development
.env
.DS_Store
.venv/
__pycache__/

# Scripts
scripts/*.log
.envrc
.vscode
package.zip